// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
body,
html, 
.body {
  background: #ffffff !important;
}

// not sure if I need this
// .container.header {
//   background: #000000;
// }

// Full Width Headers
.header {
  background: #000000;
}

// .header .columns {
//   padding-bottom: 0;
// }

.header p {
  color: #fff;
  padding-top: 15px;
}

.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background: transparent;
}

.container {
  display: flex;
  justify-content: center;
}

.wrapper.about-us {
  color: #000000;
  background: #FFFFFF;
}

h1 {
  font-size: 28px;
  line-height: 30px;
  font-family: "Vollkorn";
  font-weight: 800;
}

.wrapper.about-us h1 {
  text-align: center;
}

.wrapper.about-us p {
  font-size: 20px;
  line-height: 30px;
  font-family: "Arial";
  font-weight: bold;
  text-align: center;
}

.wrapper.we-hiring {
  color: #000000;
  background: #FED500;
}

.wrapper.we-hiring p {
  font-size: 14px;
  line-height: 20px;
  font-family: "Arial";
}
.wrapper.engineer-blurb {
  background: #5392FF;
}
.wrapper.engineer-blurb h1 {
    color: white;
    text-align: center;
}
.wrapper.engineer-blurb h6 {
    width: 450px;
    text-align: center;
}

.wrapper.philosophy-check p.check-text {
font-size: 20px;
line-height: 30px;
color: #000000;
font-family: "Arial";
font-weight: bold;
display: inline-block;
width: 70%;
padding: 0 0 20px 20px
}

h6 {
  font-size: 20px;
  line-height: 30px;
  color: #fefefe;
  font-family: "Arial";
  font-weight: bold;
  text-align: center;
}

.checkbox {
  width: 25px;
  display: inline-block;
  padding-left: 20px;
}

.container#checklist {
  display: flex;
  max-width: 100px;
}


// Leaving one example from Social Media
// table.button.twitter table td {
//   background: #1daced !important;
//   border-color: #1daced;
// }

.wrapper.border img,
.wrapper.footer-border img {
  display:inline-block;
}

// .footer-border{
//   padding-bottom: 0;
// }

.footer img{
  max-width: 100px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.container.checklistItem {
  display: flex;
  flex: flex-wrap;
}